.columnname {
  font-size: 14px;
  color: #a00605;
}
.logo {
  height: auto;
  width: 8%;
  margin-left: 45%;
  margin-top: 2%;
}
.title {
  color: green;
  margin-left: 45%;
  margin-bottom: -2%;
}
.createbutton {
  margin-left: 45%;
  margin-top: 3%;
}

.createclass {
  margin-left: 5%;
  margin-top: -5%;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 58%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
